@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.header-container{
	display: flex;
	justify-content: center;
}
.header-container__image-container{
	width: 10rem;
	height: 10rem;
}
.header-container__image-container__img{
	width: 100%;
	height: 100%;
}
.main-container{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 3rem;
}
.main-container__elements{
	display: flex;
	flex-direction: column;
	background: rgb(252,159,255);
	background: linear-gradient(90deg, rgba(252,159,255,1) 0%, rgba(203,237,238,1) 100%);
	-webkit-box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.32);
-moz-box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.32);
box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.32);
	padding: 1.5rem;
	border-radius: 1.5rem;
	height: 40vh;
	overflow: scroll;
}
.main-container__elements.vibrate{
	-webkit-animation: vibrate-1 0.3s linear .2s both;
	        animation: vibrate-1 0.3s linear .2s both;
}
.acertos-and-erro-container{
	width: 50%;
	display: flex;
	justify-content: space-around;
}
.acertos{
	color: green;
}
.erros{
	color: red;
}
.title{
	
	color: #292929;
}
iframe{
	margin-top: 1rem;
}
.number-text{
	margin-left: .70rem;
}
.input-resposta-value{
	margin-top: 1rem;
	padding: .40rem;
}
.btn-resposta{
	background: #6f4091;
	color: #fff;
	border: none;
	padding: .70rem;
	margin-top: 1.5rem;
	border-radius: 1.5rem;
	font-weight: 800;
	cursor: pointer;
}
.text-container{
	display: flex;
	align-items: center;
	color:#292929;
	font-size: 2rem;
}
.respost-err{
	display: none;
}
.respost-err.visible{
	color: red;
	margin-top: 1rem;
	display: block;
}
.resultados-container{
	margin-top: 1.5rem;
}
.main-container__elements__history-text{
	font-size: .80rem;
}
.section-container{
	width: 100%;
	margin-top: 2rem;
	padding: 1.5rem;
}
.section-container__raking__items{
	background-color: #fc9fff;
	padding: 1.3rem;
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: .70rem;
}
.ranking-items-img{
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: #fff;
}
.ranking-avatar{
	width: 100%;
	height: 100%;
}
.ranking-score{
	display: flex;
	align-items: center;
	position: absolute;
	right: 2rem;
}
.trofeu-icon{
	width: 38px;
	height: 38px;
}
.title-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .40rem;
	position: relative;
}
.icon-coroa{
	width: 36px;
	height: 36px;
}
.ranking-title::before{
	content: "";
	width: 52%;
	height: 2px;
	background-color: rgba(61, 61, 61, 0.133);
	position: absolute;
	left: 30%;
	top: 1.2rem;
}
.login{
	width: 100%;
	height: 100vh;
	padding: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #FFF;
	position: fixed;
	top: 0;
}
.login-name{
	padding: .50rem;
	margin-top: 1rem;
}
.avatar-login{
	width: 7rem;
	height: 7rem;
}
.submit-name,
.close-record-win{
	width: 84%;
	margin-top: 1.5rem;
	background: rgb(252,159,255);
	background: linear-gradient(90deg, rgba(252,159,255,1) 0%, rgba(203,237,238,1) 100%); 
	padding: 1rem;
	border: none;
	font-weight: 800;
	color: #292929;
	cursor: pointer;
}
.avatar-text-name{
	margin-top: 1rem;
}
.recorder-win{
	width: 100%;
	height: 100%;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	animation-name: winAnimation;
	animation-duration: 1s;
}
.recorder-win.win{
	display: none;
}
.recorder-win__title{
	text-align: center;
	margin-top: 2rem;
}
.recorder-win__container-img{
	width: 100px;
	height: 100px;
	background-color: #292929;
	border-radius: 50%;
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.response-help{
	width: 90vw;
	padding: 1rem;
	color: #292929;
	position: fixed;
	top: 1rem;
	left: 5%;
	z-index: 100;
	-webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
	-moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
	box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
	background-color: #FFF;
	border-top: 3px solid #f69af8;
	-webkit-animation: bounce-top 0.4s both;
	        animation: bounce-top 0.4s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-7 18:19:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes winAnimation {
	0%{
		transform: translateY(-200px);
	}
	100%{
		transform: translateY(0);
	}
}


@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
